# this file deployed at /etc/systemd/system/livekit-server.service
[Unit]
Description=LiveKit Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/livekit-server --config /etc/livekit/livekit.yaml
StandardOutput=append:/var/log/livekit/livekit.log
StandardError=append:/var/log/livekit/livekit.log
Restart=always
RestartSec=5
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target